<h3 class="section-heading text-center">Add a new car</h3>
<form [formGroup]="createCarForm" (submit)="submit()">
  <label for="model">Model</label>
  <input class="form-control" id="model" type="text" formControlName="model" />

  <label for="make">Make</label>
  <input class="form-control" id="make" type="text" formControlName="make" />

  <label for="version">Version</label>
  <input
    class="form-control"
    id="version"
    type="text"
    formControlName="version"
  />

  <label for="year-of-release">Year of release</label>
  <input
    class="form-control"
    id="year-of-release"
    type="number"
    formControlName="yearOfRelease"
  />

  <label for="price">Price (€)</label>
  <input class="form-control" id="price" type="text" formControlName="price" />

  <label for="fuel-consumption">Fuel consumption (km/L)</label>
  <input
    class="form-control"
    id="fuel-consumption"
    type="text"
    formControlName="fuelConsumption"
  />

  <label for="annual-maintenance-cost">Annual maintenance cost (€)</label>
  <input
    class="form-control"
    id="annual-maintenance-cost"
    type="text"
    formControlName="annualMaintenanceCost"
  />

  <button class="btn btn-outline-primary w-100 my-4" type="submit">
    Add car
  </button>

  <p class="text-center">{{ this.carService.createError }}</p>
</form>
