<div class="container">
  <div class="row text-center">
    <h1>Price calculator</h1>
  </div>
  <div class="row">
    <form class="col-3" [formGroup]="inputForm" (submit)="sort()">
      <h3 class="section-heading text-center">Expected values</h3>
      <label for="montly-distance">Montly distance (km)</label>
      <input
        class="form-control"
        id="montly-distance"
        type="number"
        formControlName="expectedMontlyDistance"
      />

      <label for="fuel-price">Average price of fuel (€/L)</label>
      <input
        class="form-control"
        id="fuel-price"
        type="number"
        formControlName="expectedPriceOfFuel"
      />

      <label for="years">Years with the car</label>
      <input
        class="form-control"
        id="years"
        type="number"
        formControlName="expectedYears"
      />

      <button class="col btn btn-outline-primary w-100 my-4" type="submit">
        Sort
      </button>
    </form>
    <div class="col-9">
      <div class="row">
        <div class="col-4 my-2" *ngFor="let breakDown of sortedCarCosts">
          <app-car-cost-card [costBreakdown]="breakDown" />
        </div>
      </div>
    </div>
  </div>
</div>
