<div class="container">
  <div class="row">
    <form class="col-3" [formGroup]="inputForm" (submit)="sort()">
      <label for="montly-distance">Expected montly distance (km)</label>
      <input
        class="form-control"
        id="montly-distance"
        type="number"
        formControlName="expectedMontlyDistance"
      />

      <label for="fuel-price">Expected average price of fuel (€/L)</label>
      <input
        class="form-control"
        id="fuel-price"
        type="number"
        formControlName="expectedPriceOfFuel"
      />

      <label for="years">Expected years with the car</label>
      <input
        class="form-control"
        id="years"
        type="number"
        formControlName="expectedYears"
      />

      <button class="col btn btn-outline-primary w-100" type="submit">
        Sort
      </button>
    </form>
    <div class="col-9">
      <div class="row">
        <div class="col-3 card" *ngFor="let breakDown of sortedCarCosts">
          <p>{{ breakDown.car.getModel() }} - {{ breakDown.car.getMake() }}</p>
          <p>{{ breakDown.car.getPrice() | number : "1.2-2" }}</p>
          <p>{{ breakDown.totalMaintenanceCost | number : "1.2-2" }}</p>
          <p>{{ breakDown.totalFuelCost | number : "1.2-2" }}</p>
          <p>{{ breakDown.totalCost | number : "1.2-2" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
