<div class="container">
  <form class="row my-2" [formGroup]="searchForm" (submit)="search()">
    <div class="col">
      <input
        class="form-control"
        placeholder="Search for a model, make or year"
        id="input"
        type="text"
        formControlName="input"
      />
    </div>
    <div class="col-2">
      <button class="btn btn-outline-primary w-100" type="submit">
        Search
      </button>
    </div>
  </form>

  <div class="row">
    <div class="col-3" *ngFor="let car of filteredCars">
      <app-car-card [car]="car" />
    </div>
  </div>
</div>
